[2020-09-04 01:06] laredotornado opened #10 "Style Directory App according to Chicommons style guide"
[CCC-Style Guide-Ver 1.0.pdf](https://github.com/chicommons/maps/files/5172087/CCC-Style.Guide-Ver.1.0.pdf)

Page 14 of the guide contains style descriptions that we want to apply to the app.  Specifically ...

Blue # 4  (text on buttons and page background)
Teal (for header text)
Turquoise (for button backgrounds)

[2020-09-04 17:21] kevinfergus commented on #10
hello!

[2020-09-06 18:24] laredotornado opened #11 "Ned to be able to add/edit "Enabled" (Included) coop field"
On the screen where you add or edit a coop

<img width="743" alt="Screen Shot 2020-09-06 at 1 19 05 PM" src="https://user-images.githubusercontent.com/14842313/92332525-235d9780-f044-11ea-9829-e0a68200d5c7.png">

we need to add an "Enabled" checkbox (the label can read "Include on Map").  The model in the React app should already have a space carved out for this field (see line 30 of client/src/co

[2020-09-10 14:05] kevinfergus commented on #10
do we want the changes for the nav bar as well or just the submit and clear buttons?

[2020-09-18 14:02] laredotornado opened #13 "Need Advanced Search component page"
Currently, if you click on the "Search" item at the upper right, you get a basic search by name page

<img width="818" alt="Screen Shot 2020-09-18 at 8 54 32 AM" src="https://user-images.githubusercontent.com/14842313/93605899-f6d34500-f98c-11ea-9599-c1fb13a70566.png">

What we need is a new component for "Advanced Search"es.  Right now, it only needs to contain two options -- "Name", a free form

[2020-09-24 19:17] laredotornado opened #14 "Need to indicate required fields on add/edit form"
Currently our add/edit form doesn't have the little red "*" (asterisk) next to the required fields ...

<img width="454" alt="Screen Shot 2020-09-24 at 2 15 11 PM" src="https://user-images.githubusercontent.com/14842313/94189656-a23e3700-fe70-11ea-974b-f11117d5cc0e.png">

We need to add the required asterisk next to every field on this page except "Web site".

[2020-09-24 22:47] DaveyDevs commented on #14
Hey!

[2020-09-25 00:58] laredotornado commented on #10
We had a few comment from Steve . Could you address these ...

- The background in the header and body needs to be the standard  yellow background: #fffcf5
- Not sure the fonts are correct.  Can you validate that the menus are in Allegera Sans and that the body text is in Ubuntu?
- The buttons do not change from #2295a2 to #124e54 on hover or select.

Thanks, -

[2020-11-15 21:50] #14 closed

[2020-11-15 21:50] #10 closed

[2020-11-15 22:09] laredotornado opened #18 "Backend: Need to add "approved" field to coop model"
We need to add an approved (boolean) field to the directory_coop table.  This will allow us to identify entries that the administrators have approved for inclusion in the official data.  This should be done using Django migrations.  So, you will want to edit the

web/directory/models.py

file, specifically the "Coop" model within there.  After adding to the model, generate the database migration u

[2020-11-15 22:20] laredotornado opened #19 "need login screen"
Eventually, administrators should be able to login to the application to perform functions that cannot be normally done by users who visit the web site.  As such, we need a simple login form that has

Username
Password

It does not need to link to anything yet, but should use the same styles as the general application.  Additionally, there should be a "Login"  menu item in the nav bar that links t

[2020-11-15 22:36] laredotornado opened #20 "Seed script is not including apartment/suite numbers"
Right now, we generate our application seed data from a CSV file using a command like so

[code]
However, the script doesn't process rows that include an apartment or unit number beginning with a "#" properly.  For example, this row

`121,Bucktown Community Organization,1658 N. Milwaukee Ave. #520,60647,Chicago,IL,"Chicago, IL 60647",USA,Social Workshop,yes,http://www.bucktown.org/,,,,,,,,,,,,,,-8

[2020-11-16 23:16] laredotornado commented on #11
Need to move field above the submit button.

[2020-11-18 14:59] laredotornado opened #21 "Update spreadsheet import to understand renamed columns"
For this ticket, you will have to have the Python/Django app running locally (outside of Docker). See the "Python/Django App" section [here](https://github.com/chicommons/maps/).  We have a scriptable way of importing data into the directory, using

[code]

An example of the old version of the "file.csv" can be found [here](https://github.com/chicommons/maps/blob/master/web/directory/fixtures/chic

[2020-11-18 15:10] jensforsgard commented on #21
Got it.

[2020-11-27 17:48] jensforsgard commented on #21
Just of few questions:

The new csv file has both a 'city1' and a 'city' columns. Aren't 'city' and 'citystzip', as in the old file, more descriptive names? Or 'city' and 'address line 2'?

The 'Include' column is missing in the new file, but it is used in 'parse_coop_csv.py'
The column 'phone_public' has changed name to 'Phone public', and that one seems also to be in use.

Are the other columns

[2020-11-27 21:13] laredotornado opened #23 "Front end screen to display coops without coordinates"
We need a new front end screen in the React app that will display coops without latitude and longitude coordinates.  The data is returned by the endpoint

`/coops/no_coords`

The above returns an array of Coop JSON objects, for example

`[{"id": 900, "name": "Dave Coop"}, {"id": 777, "name": "Irving Park Coop"}, ...]`

We simply need a screen to display a list of these coops with an edit icon next

[2020-12-03 23:38] #11 closed

[2020-12-04 23:02] laredotornado commented on #21
I agree with you that they are more descriptive.  I'm not clear on the reasoning behind the change as Steve updated the columns.  For now, let's just use the newer names but I will loop you in to a conversation with him about more intuitive column names.

The column 'phone_public' has changed name to 'Phone public', and that one seems also to be in use.

The "include" column was renamed "check".

[2020-12-08 19:44] DaveyDevs commented on #23
@laredotornado  Working on this now! If I'm understanding right, would this be the correct path to search the new endpoint?

const searchUrl = REACT_APP_PROXY + "/coops/no_coords?contains=" + encodeURIComponent(query);

[2020-12-10 18:49] SteveEdiger commented on #21
Since we can calculate the city/st/zip and are already collecting the components, we can ignore import of this field (sorry, I forgot which one contains all the elements).  This was an artifact from the original file we inherited.

Include is a mandatory import, and will be subject to change, depending on dicussions in tonight's tech meeting.  Currently it includes some rather cryptic entries "yes

[2020-12-10 18:52] SteveEdiger commented on #21
Please note that we are involved in some fairly major discussions about what information we need to collect and this set will change (get appended and name changes to existing fields) rather radically in the future.  The existing scenario is simply to allow updating of the dataset until we can develop the app.

[2020-12-10 18:56] SteveEdiger commented on #21
I mistyped "We are currently not using these 'other columns', but as I am reworking data, I am trying to fill them in. So we should import them."

There are some exceptions. Dave has already dealt with geocoding on the back-end, so we don't need to keep GeoCode Quality or Lat/lon.

[2020-12-12 03:21] SteveEdiger commented on #21
Dave and Jens,

Between the two meetings, we made good progress.  Thanks for sticking around, Jens.  I know we went pretty late, but we pretty much got it into shape.  Here  is the file:[EntityInfo](https://docs.google.com/spreadsheets/d/12ZhFVd26Am9eJPxTVOZBP2RC3HhAleTPF5xkGP_rd1o/edit#gid=818802545)

[2020-12-13 16:33] laredotornado commented on #23
Hi @DaveyDevs , It is actually even simpler -- you can just write

[code]

At this time, I haven't programmed the ability to search for coops without coordiantes based on a specific string.  The endpoint will just return everything.  We can add that as a separate feature after.

[2020-12-14 23:19] DaveyDevs commented on #23
Thanks for the response @laredotornado!

I just replaced the line in a new component called NoCoordsSearch.jsx and routed it to the page -http://localhost:3000/search_no_coords

It's available for review in a forked branch here -
https://github.com/DaveyDevs/maps/tree/nocoordinatessearch

Is this the right idea? When I type in the search box, it looks like it's just returning an empty array. Are t

[2020-12-18 00:45] laredotornado commented on #23
Hi @DaveyDevs , yes that is the idea.  What you will also want to do is add a Route (e.g. /nocoords) so that we can type a URL in the browser and see the page you created.  This will be probably around line 41 of src/App.js .  Then when you visit http://localhost:3000/nocoords , we should be able to see all the coops that don't have latitude and longitude defined.

If you visit that page and don't

[2020-12-20 03:36] DaveyDevs commented on #23
@laredotornado  Done! When you get a chance, would you be able to grant me permissions to publish a branch to the repository? Thanks!

[2020-12-20 17:11] laredotornado commented on #23
Hi, You should see a contributor invite in your GitHub account now.  After
you push your branch, please create a pull request so I can look over your
changes and then merge them in.  Thanks! - Dave

On Sat, Dec 19, 2020 at 9:36 PM Davey Devs <notifications@github.com> wrote:

[2020-12-20 17:25] laredotornado opened #24 "FrontEnd: Create new user screen"
We need a simple login screen, using the styles from our other forms, that will allow someone to create a new user in the system.  The fields should be

First name
last name
Username
Password
Confirm Password
Email

The form should submit via POST to the "/users/create" endpoint and the body of the form should be JSON and look like

{
    "first_name": "Dave",
    "last_name": "Example",
    "user

[2020-12-20 17:37] laredotornado opened #25 "BackEnd: Create new user"
We are using the Django authentication system -- https://docs.djangoproject.com/en/3.1/topics/auth/default/ .  As such, we need to implement a backend API to add a new user.  There are two parts to this

1. You will want to define the endpoint path ( we want to user "/users/create") in the file web/directory/urls.py
2. You will want to define the functionality for creating that new user in web/dir

[2020-12-20 17:44] laredotornado opened #26 "Backend: Authenticating login"
We need to create a backend call that will allow someone to submit their username and password to the system and have that information validated.  We are using the Django authentication system -- https://docs.djangoproject.com/en/3.1/topics/auth/default/ .  We will want to do two things ...

1. You will want to define the endpoint path ( we want to use "/users/login") in the file web/directory/url

[2020-12-20 18:06] laredotornado opened #27 "Generate login (JWT) token for logged in users"
This ticket is dependent on this one -- https://github.com/chicommons/maps/issues/26

We need to be able to issue a login token when the user successfully logs in.  We will be using the module, specifically the "Authenticating Users" section of this guy's tutorial --https://code.tutsplus.com/tutorials/how-to-authenticate-with-jwt-in-django--cms-30460.  The only small difference is the above link u

[2020-12-20 22:44] DaveyDevs commented on #23
@laredotornado  Hey hey! So weirdly I'm not seeing any notification and it won't let me do a direct pull request, but it does list me as a contributor. So I'm not sure what's going on haha. Maybe just an issue with my account, I'll look into it further.

That being said, I was able to create a fork and bring over a pull request through that route. Let me know if that works!

[2020-12-21 03:03] laredotornado commented on #23
@DaveyDevs , I pushed the code into production -- https://prod.chicommons.coop/no_coords.  So there is only one more thing to do, which I didn't realize until now.  Instead of having to search for coops without coordinates, we would like them to display automatically as soon as the page is loaded.  I "think" all that is needed is to change this

[code]
to
[code]

and also remove this

[code]

If y

[2020-12-24 02:08] laredotornado commented on #21
@SteveEdiger , are we calling the include column (whether a row is included on the map "Include" or "check"?  I'm noticing on the latest spreadsheet, it seems to be called "Include" now.

e.g.

[code]

cc: @jensforsgard

[2020-12-24 23:28] DaveyDevs commented on #23
@laredotornado  Just completed it and created another pull request, let me know how that looks. Happy holidays!

[2020-12-26 16:10] laredotornado commented on #21
@jensforsgard , per an email Steve sent, please change recognition of the column originally named "check" to "Include".  If it doesn't specify a lower-cased value of "yes", then we can assume it is no (we will add new tickets for parsing out a more comprehensive rule-set)

[2020-12-26 19:37] #21 closed

[2020-12-26 19:54] laredotornado opened #33 "Seed script should disregard rows with badly formatted state data"
Currently, if the state data contains some oddities, for example

`139,Centro Comunitario Juan Diego,8812 S Commercial Ave,60617,Chicago,"IL`Chicago, IL 60617",,USA,Social Workshop,yes,https://www.facebook.com/ccjd1994/,,,,,,,,,,,,,,,,ChicagoCoop.net,SE,,,,,,
`
the script produces the state to look lke

`IL`Chicago, IL 60617
`
What we should do instead is disregard the row entirely if the state da

[2020-12-27 22:39] #23 closed

[2020-12-27 23:41] laredotornado opened #35 "Incorrect YAML (seed data) generated when a coop has multiple types"
Currently, if we have data like the below

[code]
It will produce YAML like so

[code]
Unfortunately, this results in errors because the YAML is malformed.  For multiple types, the YAML needs to look like

[code]
I believe these lines in the scirpt are the culprit ... .

[code]

[2020-12-28 16:33] laredotornado opened #36 "Backend: Add "is_public" field to ContactMethod model"
You will notice in the web/directory/models.py file, we have a ContactMethod model, looks something like the below ...

[code]
We need to add a "is_public" boolean attribute (field) to the model to indicate if this information should be displayed.  We then need to generate a migration so this extra column can be added to the database.  In Django, adding a migration looks like

[code]
Also we need

[2020-12-28 16:43] laredotornado opened #37 "Backend: Add "is_public" to a Coop's address field"
Currently, our Coop entities are associated with one or multiple addresses like so (from web/directory/models.py)...

[code]

The "Address" model is from an open source module, django-addresses -- https://pypi.org/project/django-address/ .  The above relationship corresponds to the "directory_coop_addresses" table in the database.

We need to add an "is_public" boolean column to each directory's a

[2020-12-28 17:36] laredotornado opened #38 "Allow seed data even if there are no valid coordinates"
Currently, our web/directory/management/commands/parse_coop_csv.py script will not output results if there is not a corresponding latitude or longitude returned from our Geocoder location service.  We now have a page in our React application ...

https://prod.chicommons.coop/nocoords

that will alert administrators which coops do not currently have valid, mappable addresses, so it is fine now for

[2020-12-29 02:44] SteveEdiger commented on #21
I've tried documenting processing rules for each field where a rule applies in [Entity Data Definition](https://docs.google.com/spreadsheets/d/12ZhFVd26Am9eJPxTVOZBP2RC3HhAleTPF5xkGP_rd1o/edit#gid=2102642946)

Please refer to it and get back to me with questions or comments

[2021-01-04 18:15] #35 closed

[2021-01-07 20:21] laredotornado opened #41 "Backend: Writing unittests for models file"
We need to start fleshing out our unit tests a little more thoroughly.  This ticket focuses on the application models -- the file, directory/models.py.  Ideally, we should use [pytest](https://docs.pytest.org/en/stable/) for this.  Since it is not installed, we will want to install it

[code]
and then save the module in our requirements file ...

`pip freeze > requirements.txt
`

When writing the

[2021-01-08 05:17] dianakakoma commented on #41
Assign it to me.

[2021-01-09 05:17] dianakakoma commented on #41
Thank you, Dave.

[2021-01-13 15:12] #38 closed

[2021-01-27 05:37] dianakakoma commented on #36
Please assign this issue to me.
-Diana

[2021-01-30 21:00] laredotornado opened #45 "Only look up geocode if location has changed"
When running the script to generate seed data,

[code]

To save on requests made to the external service that fetches coordinate data, we should prevent a call to the external service if the address hasn't changed.  In other words, we may need to edit the below from the "parse_coop_csv" file

[code]

so that we dont' call the svc.get_coords if the address hasn't changed from what is already stored

[2021-01-31 01:49] laredotornado opened #46 "Need a form that will allow for a new coop request"
We need to build a form that mirrors what was done on WordPress

https://www.chicommons.coop/directory-additions-updates/

The API endpoint (although not built yet) that will provide a list of coop types to select from will be /predefined_types .  It will be an array with "id" and "name" attributes.

[2021-01-31 20:59] DaveyDevs commented on #46
Commenting to sign up for this issue. 👍

[2021-03-15 01:53] ozzysChiefDataScientist commented on #13
Hi @laredotornado  - This is Elena. Can you assign this ticket to me? Thank you!

[2021-03-23 02:11] ozzysChiefDataScientist commented on #13
Thanks! Just a quick update -- I worked on the code this weekend and it's behaving as expected. Just want to add some more comments and review with fresh eyes before submitting. Planning to submit by 3/30.

[2021-03-23 20:32] laredotornado commented on #13
That's awesome!  So it's working ok when submitting to the backend? -

On Mon, Mar 22, 2021 at 9:11 PM ozzysChiefDataScientist <
***@***.***> wrote:

[2021-03-24 00:50] ozzysChiefDataScientist commented on #13
Hi Dave,
Good question. The image below shows some examples of what the advanced search form looks like when certain actions are performed.
<img width="691" alt="chi_commons_view_examples" src="https://user-images.githubusercontent.com/42755977/112237408-9c9f8f00-8c10-11eb-87eb-f8641c1fc597.png">

Is it OK that the search results shows all coops, even those that do not match the search terms? I as

[2021-03-24 21:40] laredotornado commented on #13
Ah you are right on that one -- I still need to make a few more tweaks to
get the backend up and running.  But looking good so far on your end!

On Tue, Mar 23, 2021 at 7:51 PM ozzysChiefDataScientist <
***@***.***> wrote:

[2021-04-02 01:42] laredotornado opened #54 "Backend: Need to remove coops without latitude and longtitude from API endpoint used by maps"
The Python/Django app serves data using a URL like the below (this is what will be when you run it locally) ...

http://localhost:8000/data?contains=Garden

You can change the word after "contains=" to be anything from coop types.  "Library" and "union" are other examples.  Note the data that is returned, a CSV spreadsheet with latitude and longitude columns.  The desire is that data should only b

[2021-04-04 16:48] #13 closed

[2021-04-05 02:23] dianakakoma commented on #41
Hello Dave,
I'm like to apply for a free premium Pycharm account at https://www.jetbrains.com/shop/eform/opensource.
Mieko and I are working on the models testing for ChiCommons Map directory and the premium account has more assistance for Django and Flask testing. Does ChiCommons already have the PyCharm premium license?
-Diana

[2021-04-05 15:46] laredotornado commented on #41
Hi, Thanks for your hard work on this!  I don't think they do.  I asked a
question just now on the watercooler channel of the ChiHackNight space (I
don't have permissions to post to the general channel).  We'll see if
anyone comes back with anything, but for now, we should probably assume we
don't have access to this.

On Sun, Apr 4, 2021 at 9:24 PM Diana Kakoma ***@***.***>
wrote:

[2021-04-05 18:17] dianakakoma commented on #41
You're welcome.
Thanks for looking into it.
-Diana

On Mon, Apr 5, 2021, 10:46 AM Dave Alvarado ***@***.***>
wrote:

[2021-04-09 01:36] laredotornado opened #57 "Frontend: Expand advanced search to include zip, city, address, and coop type"
We would like to expand the search form at

https://prod.chicommons.coop/advanced

to include the following fields.

| Field               | Input Type     | JSON Form Name|
| ------------- | ------------- | ----------------- |
| Zip                 | Text Field      | zip                        |
| City                | Text Field       | city                      |
| Address         | Text Field

[2021-04-09 15:48] laredotornado commented on #13
Adding a note to track the last issue related to this ticket, which is when
the Enabled menu is defaulted to an item (e.g. "True"), clicking "Submit"
does not appear to submit the search params properly.  Switching the menu
to another option (e.g. "False") and then back to "True", followed by
clicking submit sends and returns the proper search results.

On Wed, Mar 24, 2021 at 4:39 PM D. Alvarado

[2021-04-19 23:20] ozzysChiefDataScientist commented on #13
Hi Dave,

Thanks. I understand now why search results don't show initially, if a user
presses 'Submit' without changing any settings. I developed a solution to
fix it, but it feels a little hack-y to me. I'm really busy this week, but
hoping I can spend some time next weekend coming up with a more elegant
solution.

Thanks,
Elena

On Fri, Apr 9, 2021 at 10:49 AM Dave Alvarado ***@***.***>
wrote:

[2021-04-22 00:53] laredotornado opened #60 "Directory app new request page: Change contact name text"
On the directory app new request page

https://prod.chicommons.coop/directory-additions-updates

We want to change the "Contact Name" label to "Cooperative/Entity Contact Person Name".

[2021-04-22 01:00] laredotornado opened #61 "Frontend: Need to add localization"
Currently on the pages

Search
Advanced Search
Add Entity
Request new entity form (https://prod.chicommons.coop/directory-additions-updates)

the labels are hard-coded strings of text.  For future iterations of the app we want to drive these labels from a language file so that we can support multiple languages.  This means we need to create a

[code]

directories and within those have one JSON fil

[2021-04-22 01:05] laredotornado opened #62 "Directory entity new request form: Change public labels"
On the directory app new request page

https://prod.chicommons.coop/directory-additions-updates

Instead of just saying 'public', say,

Is Contact name to be public on the map?
Is Phone number to be public on the map?
Organization Phone Number
Is Address to be public on the map?
Is Email to be public on the map?

For the fields, "Contact Name Public?", "Phone Public?", "Contact Phone Number", "Add

[2021-04-28 01:06] ozzysChiefDataScientist commented on #57
@laredotornado Can you assign this issue to me?
Some questions:
1) Should I sort the Coop Types in alpha order?
2) I noticed that some Coop Types are lower case, but other are camel case. Should I standardize all coop types to display in camel case in the dropdown menu?[
<img width="397" alt="coop_tyes" src="https://user-images.githubusercontent.com/42755977/116330618-864a9d00-a793-11eb-8393-d4334

[2021-04-28 01:14] laredotornado commented on #57
Hi there, 1. Yes, please sort case-insensitively.  2. No need to standardize -- this data comes from the backend so I feel like that's where the data should be corrected.  3.  You're too fast!  I haven't updated the backend yet to include the new search fields.  Hope to have that done by end of week.

Thanks so much! -

[2021-04-28 01:30] laredotornado opened #64 "Frontend: Add required fields to new directory entry request page"
On the directory app new request page

https://prod.chicommons.coop/directory-additions-updates

we need to add some additional required fields.  This means we should add a red "*" next to the title and also prevent form submission with the appropriate validation error message if these fields are left blank (to see an example of how that is done, see https://prod.chicommons.coop/add and submit the

[2021-05-01 16:55] #46 closed

[2021-05-01 17:39] laredotornado commented on #57
@ozzysChiefDataScientist , please update to the latest, I have added support on the backend for the three additional search fields.  Thanks, -

[2021-05-02 15:31] ozzysChiefDataScientist commented on #57
@laredotornado Thanks! I will check this out.

[2021-05-02 16:29] ozzysChiefDataScientist commented on #57
Hi @laredotornado  -- Thank you. I tested the city, street, and zip searches and these are all working.

I'm having trouble with the coop_type search though. When I search on "http://localhost:9090/coops/?coop_type=Community%20Garden," it looks like all coops are returned, not just community gardens. I noticed that the [recent commit](https://github.com/chicommons/maps/commit/d979054db747c5dde6b03

[2021-05-03 01:28] laredotornado commented on #57
Oops!  Good catch.  Just checked in something to add support for
coop_type.  You can use either a "+" or "%20" to encode for the space, most
likely whatever library you use to encode query params will do it correctly
so you shouldn't have to do anything special, but to answer your question,
either will work.

On Sun, May 2, 2021 at 11:30 AM ozzysChiefDataScientist <
***@***.***> wrote:

[2021-05-08 20:32] DaveyDevs commented on #60
Comment

[2021-05-08 20:35] DaveyDevs commented on #62
comment

[2021-05-11 01:28] laredotornado opened #67 "Frontend (New directory addition page): populate county based on zip code"
On the directory additions page

`https://prod.chicommons.coop/directory-additions-updates`

when someone enters a zip code, we should attempt to populate the "County" field if we can reconcile what county encompasses that zip code.

<img width="642" alt="Screen Shot 2021-05-10 at 8 26 53 PM" src="https://user-images.githubusercontent.com/14842313/117744417-3f669980-b1ce-11eb-87ad-c19378f6ba31.png

[2021-05-17 00:24] #57 closed

[2021-05-18 01:36] #60 closed

[2021-05-18 01:37] #62 closed

[2021-05-18 01:41] #54 closed

[2021-05-20 02:04] #64 closed

[2021-05-20 02:07] laredotornado opened #70 "Frontend: Cosmetic changes to directory addition page"
On our directory additons page

https://prod.chicommons.coop/directory-additions-updates

we need to make the following cosmetic changes:

- Reason for submission should be a dropdown add new or update existing record
- Address, city, state and zip should be on one line in wide screen
- County, country and address public should be on one line in wide screen

[2021-05-21 13:09] laredotornado opened #71 "Frontend: App name incorrectly displays as "React App" in browser header"
Title appears as "React App"

![Screen Shot 2021-05-21 at 8 04 55 AM](https://user-images.githubusercontent.com/14842313/119142178-cb1cc900-ba0b-11eb-92fd-4ca4c6cf15c9.png)

but the desire is for the title to appear as "CoOp Map".

[2021-05-22 18:12] laredotornado opened #72 "Frontend: Make "Search" link to "Advanced Search""
On the main menu, the "Search" nav item should link to the same component linked to by

https://prod.chicommons.coop/advanced

and the "Advanced Search" item should disappear.  Clicking "Search" should still route to

https://prod.chicommons.coop/search

but the component that renders should be the advanced search component.

[2021-05-22 18:19] laredotornado opened #73 "Frontend: update advanced search coop-type field to be a multi-select field"
The coop type field on

https://prod.chicommons.coop/advanced

is currently single select.  We would like to make it multi-select, similar to the multi-select here

https://prod.chicommons.coop/directory-additions-updates

It would be enough to re-use the component on the directory-additions-updates page on this page.  The value of the data submitted should be an array,

[code]

as an example.

Al

[2021-05-22 18:23] laredotornado opened #74 "Frontend: Add county and state to search form"
Currently here

https://prod.chicommons.coop/advanced

under "Postal Code", we need to add two additional search fields, "County" (a text field) and State, a single select drop down field, as seen here

https://prod.chicommons.coop/add

The field names in the search can be "county" and "state".

[2021-05-22 18:32] laredotornado opened #75 "Frontend: Add search result address when viewing search results"
When search results are returned from here,

https://prod.chicommons.coop/search

only the name appears, e.g.

Bowmanville Community Garden

We would like to include the address (only the first if there are multiple) beneath the name (in a slightly smaller font), so the result would appear as

Bowmanville Community Garden
5412 N. Bowmanville, Chicago, IL 60625

The JSON object for each search resu

[2021-06-02 02:06] laredotornado opened #77 "Frontend: Change link location where advanced search results "edit" icon links to"
When doing an advanced search here

https://prod.chicommons.coop/advanced

we need to change the location at which the "edit" icon points

<img width="487" alt="Screen Shot 2021-06-01 at 9 04 26 PM" src="https://user-images.githubusercontent.com/14842313/120413013-29f01580-c31d-11eb-93bb-a2c87d8aaa45.png">

https://prod.chicommons.coop/directory-additions-updates/{id}

where ID is the Id of that p

[2021-06-02 02:15] laredotornado opened #79 "Frontend: Need to expand directory addition page to preload data with from an ID"
The directory page located at

https://prod.chicommons.coop/directory-additions-updates

needs to accept an ID, which will reference a directory coop from the database.  The link should look like

https://prod.chicommons.coop/directory-additions-updates/{id}

The ID should load its data from the backend via the URL

https://prod.chicommons.coop/coops/{id}/

The data will be returned looking like b

[2021-06-02 02:21] laredotornado opened #80 "Frontend: Add county and state options to advanced search form"
On this form,

https://prod.chicommons.coop/advanced

we want to add County (text field) and State (a drop down, which should load its data and have look and feel similar to here -- https://prod.chicommons.coop/add).  We will not have country on this form so when loading states, you can assume "United States" is the country when retrieving the list of states from the backend.

When submitting the

[2021-06-02 02:23] #80 closed

[2021-06-02 02:24] #70 closed

[2021-06-04 22:46] ozzysChiefDataScientist commented on #72
@laredotornado  Can you assign this to me? thanks.

[2021-06-05 14:28] ozzysChiefDataScientist commented on #71
I submitted a PR on this issue here: https://github.com/chicommons/maps/pull/83

[2021-06-05 20:10] ozzysChiefDataScientist commented on #74
@laredotornado Can you assign this to me? Thanks.

[2021-06-06 22:18] laredotornado commented on #72
Done!  Left one comment on your PR.  Thanks for looking into this, -

[2021-06-09 02:12] laredotornado opened #84 "Frontend: Add a couple of new breakpoints to directory additions page"
We need to add breakpoints on

https://prod.chicommons.coop/directory-additions-updates

for the following screen widths:

992, 768

[2021-06-12 19:53] laredotornado opened #87 "FrontEnd: Change "Add" link in nav bar"
We need to point the "Add" link on the nav bar to

https://prod.chicommons.coop/directory-additions-updates

[2021-06-12 20:01] laredotornado opened #88 "FrontEnd: Create "Home" link in nav bar with iframe content"
In the main nav bar, to the left of "Add," we need to add a "Home" link that will take us to a new component that will display our map (content from an iframe).  The route of the component shoudl be the default route "/".  The content is

<iframe width="100%" height="300px" frameborder="0" allowfullscreen src="//umap.openstreetmap.fr/en/map/chicommons-map_80079?scaleControl=false&miniMap=false&scr

[2021-06-12 20:06] laredotornado opened #89 "FrontEnd: Remove "Bad Location" from nav bar"
Currently on the nav bar there is a "Bad Location" item (the last one)

https://prod.chicommons.coop/add

we wish to remove the item from the nav bar (but the route can remain).

[2021-06-12 20:07] laredotornado opened #90 "FrontEnd: Add "Return" item to nav bar"
On our current set up

https://prod.chicommons.coop/add

we wish to add a "Return" link as the last item on the nav bar.  This should take the user off our directory site and link them to https://www.chicommons.coop/cooperative-map/

[2021-06-12 23:11] ozzysChiefDataScientist commented on #77
@laredotornado Can you assign this to me?

[2021-06-13 16:31] carltos0411 commented on #87
Hey @laredotornado  i want to work on this issue as i am beginner pls guide me a little bit

[2021-06-13 18:58] DaveyDevs commented on #79
Just created a pull request for this issue - #91

[2021-06-14 17:32] carltos0411 commented on #89
@laredotornado  pls assign this issue to me

[2021-06-15 01:42] laredotornado opened #93 "FrontEnd: Adjust typography and colors to match style guide"
[CCC-Style Guide-Ver 1.0.pdf](https://github.com/chicommons/maps/files/6652161/CCC-Style.Guide-Ver.1.0.pdf)

We need to apply pages 6 (typography) and 7 (colors) of the attached style guide globally to the site.

[2021-06-15 02:32] nick-hou commented on #75
This is a backend issue first - the coop search API currently only returns ID and name: https://prod.chicommons.coop/coops/?state=IL

I'm not experienced with Django, but I added 'addresses' to CoopSearchSerializer's fields and got an array containing only one int - see attached screenshot

![Screenshot 2021-06-14 213038](https://user-images.githubusercontent.com/68621516/121983963-c8399d80-cd57-1

[2021-06-16 01:02] laredotornado commented on #75
Shoot that is a good call, looks like I'll need to do a little backend work
here.  Btw going to send you an invite soon, was trying to get ahold of the
ChiCommons zoom line but we may have to settle for Google meet.

On Mon, Jun 14, 2021 at 9:32 PM Nick Hou ***@***.***> wrote:

[2021-06-16 02:19] laredotornado commented on #75
@nick-hou , please check out the latest -- I pushed some changes so that the search now returns the addresses in the JSON (I forgot the search was using a different serializer than what was used in other forms)

[2021-06-17 01:54] nick-hou commented on #75
@laredotornado I'm still not seeing address being populated in the React hook. Your commit from last night only has one change to a test script - did you stage everything?

[2021-06-17 02:01] nick-hou commented on #93
Can you assign this one to me? Thanks

[2021-06-17 02:15] laredotornado commented on #75
Ah, it has been a long week and we're only on Wednesday!  Check the latest,
should be an update to

web/directory/serializers.py .

On Wed, Jun 16, 2021 at 8:54 PM Nick Hou ***@***.***> wrote:

[2021-06-19 17:49] laredotornado opened #96 "Backend: Add county to data generated by python seed script"
Currently data is generated from a CSV file containing coop data to a file that Python can ingest using the following commands

[code]

The CSV has rows that look like this

[code]
We need to take the data in the column with the header "ent-cnty" (county) and add it to the output that is produced for locality.  The final result should have the format

[code]

[2021-06-26 13:27] ozzysChiefDataScientist commented on #87
@laredotornado I submitted a PR on this here: https://github.com/chicommons/maps/pull/97

[2021-06-26 15:56] laredotornado commented on #87
Thanks!  This is merged.

[2021-06-26 15:56] #87 closed

[2021-06-27 19:48] laredotornado opened #100 "Frontend: Multi-select menu incorrectly includes "Select" first option"
If you look at the multi-select menu here

https://prod.chicommons.coop/directory-additions-updates

you'll notice that the "Coop Type" field shows a "Select" option even though it is multi-select.  Ideally, there shouldn't be a "Select" option for multi-select menus (only single select menus)

<img width="444" alt="Screen Shot 2021-06-27 at 2 46 01 PM" src="https://user-images.githubusercontent.c

[2021-06-27 23:24] laredotornado commented on #93
A few notes from @SteveEdiger , sent vis email ...

General

- <h1>-<h6> should be Alegreya-Sans. All other text should be Ubuntu
- We don't use gradients anywhere.
- I'm not sure what the max-width is currently set at on the largest displays, but we should pick one (probably the one we are using now and make that the site width (see 2.3 and 3.1).  If this is too wide, the eye loses itself across

[2021-06-28 21:10] DaveyDevs commented on #88
Just created a pull request for this issue!

[2021-06-29 01:29] laredotornado commented on #88
Thanks!  Left a couple of small comments.

On Mon, Jun 28, 2021 at 4:10 PM Davey Devs ***@***.***> wrote:

[2021-07-01 22:11] SteveEdiger commented on #88
Make iFrame full screen for all viewport size

[2021-07-01 22:13] SteveEdiger commented on #88
Make it full screen, and get rid  of Open in Full screen button

[2021-07-01 22:17] SteveEdiger commented on #100
Where are these pulling from, is the db or the spreadsheet?  We want to normalize the case on each entry.

[2021-07-01 22:26] SteveEdiger commented on #84
OK to close this

[2021-07-02 01:51] #84 closed

[2021-07-02 01:51] laredotornado commented on #84
Closed per Steve. -

[2021-07-02 02:04] DaveyDevs commented on #88
Just updated and created a pull request! I wasn't able to make the full width but got the closest I could without interfering with the vertical scroll in the guide that initially shows up when the map loads.

[2021-07-02 02:12] DaveyDevs commented on #100
Just updated to remove the "select" and created a pull request.

[2021-07-02 02:22] DaveyDevs commented on #90
Just added a "return" link to the nav and hamburger bar and created a pull request. I also noticed that the hamburger menu was hidden behind some of the containers on pages, so I added z-index to put it above in each of the views.

[2021-07-08 22:08] ozzysChiefDataScientist commented on #89
@laredotornado Can you assign to me?

[2021-07-08 22:08] DaveyDevs commented on #88
Steve requested we center the map iframe. I can take care of that. 👍

[2021-07-08 22:19] ozzysChiefDataScientist opened #110 "Frontend: Add a couple of new breakpoints to search page"
We need to add breakpoints on
https://prod.chicommons.coop/search
for the following screen widths:
1140, 992, 768

[2021-07-08 22:23] ozzysChiefDataScientist commented on #110
Have street, city postal code on one line. County, state, enabled on one line.

[2021-07-11 16:50] laredotornado commented on #89
Posterity will not that @ozzysChiefDataScientist  created a PR for this and it has merged.  Will haev @SteveEdiger  review before closing.

[2021-07-15 21:59] DaveyDevs commented on #88
Just updated the CSS and created a pull request!

[2021-07-29 02:18] nick-hou opened #116 "Frontend: Add footer to page"
Add a footer across all pages containing Chicommons' privacy policy, as well as GitHub links for volunteers

[2021-08-08 17:10] #90 closed

[2021-08-08 17:11] #89 closed

[2021-08-08 17:11] #72 closed

[2021-08-08 17:13] #71 closed

[2021-08-08 17:13] #75 closed

[2021-08-08 17:14] #88 closed

[2021-08-08 17:14] #116 closed

[2021-08-08 17:15] #77 closed

[2021-08-08 17:15] #100 closed

[2021-08-08 17:16] #79 closed

[2021-08-08 17:30] laredotornado opened #123 "Upon successful form submission, display a flash notification and clear form"
When submitting a new form

https://prod.chicommons.coop/directory-additions-updates

two things shoudl happen:

1. We should display a "Submission successful" notification at the top of the form that flashes and then disappears after a few seconds.
2. We shoudl clera the form of existing data.

For #1, we need to do this in context, using React providers.

[2021-08-08 18:25] laredotornado opened #124 "Upon successful form submission, remove any previous error messages"
Steps to reproduce:

1. Visit the directory add entity link -- https://prod.chicommons.coop/directory-additions-updates
2. Click "Submit" at the bottom without filling in any data.  You'll see some error warnings:

<img width="712" alt="Screen Shot 2021-08-08 at 1 22 24 PM" src="https://user-images.githubusercontent.com/14842313/128641940-502b707e-a7f9-44f4-b6c3-420f57abb63b.png">

3. Fill in the

[2021-08-19 22:31] ozzysChiefDataScientist commented on #19
@laredotornado Can you assign this to me?

[2021-08-27 13:47] laredotornado opened #131 "Proper redirect after form submission"
When this form has been completed

https://prod.chicommons.coop/directory-additions-updates

upon successful submission, the user should be returned to this same form.  If a user is visiting this form in edit mode, e.g.

https://prod.chicommons.coop/directory-additions-updates/22

upon successful form submission, the user should go to whatever page directed them to this form.  So for example, if y

[2021-08-27 13:52] laredotornado opened #132 "Clear form errors as errors are resolved"
Currently when you submit a form with incomplete data, you see errors like the below

<img width="317" alt="Screen Shot 2021-08-27 at 8 48 44 AM" src="https://user-images.githubusercontent.com/14842313/131137619-7abf5d93-a551-4ad6-a121-8aadb29a114e.png">

However, even after you address the error and move to the next field, the error will not disappear until you re-submit the form

<img width="351

[2021-08-27 13:53] laredotornado opened #133 "Footer adjustments"
This applies to the global footer -- on the footer, second line, flex justify-content should be "center", not "space-between"

[2021-08-28 22:03] DaveyDevs commented on #132
Hey @laredotornado! I'm back in town and happy to help with this if no one else is at the moment. My one question: Because the errors are coming from the back end, would we need to check the back end for errors every time the user enters and leaves a form field? Right now it only checks on submit using the saveToGoogleSheet function, so I'm not sure what the best approach would be. Thanks!

[2021-08-28 22:17] DaveyDevs commented on #124
Just submitted a pull request for this issue. Thanks!

[2021-08-30 23:49] nick-hou commented on #132
Hey @DaveyDevs, @laredotornado is out of town until Wednesday
Ideally, when the user leaves the field, we want the front end to validate the form without pinging the back end. I tried to do this on a previous PR with native HTML but it still only showed errors on submit, you might be able to find something in React that does it on click on/off.

The back end validation we have now is still okay, s

[2021-08-31 18:02] DaveyDevs commented on #132
Thanks for the response @nick-hou! Sounds great, yeah we can definitely look into possible options with React.

[2021-09-02 18:43] SteveEdiger opened #137 "Home Page"
On the Home Page, at full width, the map iframe should be reduced in height so that the footer shows at the bottom of the page.  On narrower devices, people expect to scroll anyway so it doesn't matter.

[2021-09-05 22:42] SteveEdiger opened #138 "Eliminate the login"
We are almost ready to do this.  If we determine things are a go by Tuesday, this will be in the last round.

[2021-09-06 01:35] #133 closed

[2021-09-06 01:35] #124 closed

[2021-09-06 01:35] #123 closed

[2021-09-06 01:36] #93 closed

[2021-09-09 22:09] #138 closed

[2021-09-09 22:09] ozzysChiefDataScientist commented on #110
Submitted PR: https://github.com/chicommons/maps/pull/113

[2021-09-09 22:09] laredotornado commented on #138
Completed.

[2021-09-09 22:10] ozzysChiefDataScientist commented on #74
Submitted PR: https://github.com/chicommons/maps/pull/86

[2021-09-09 22:11] #110 closed

[2021-09-09 22:11] laredotornado commented on #110
merged

[2021-09-09 22:12] #74 closed

[2021-09-09 22:12] laredotornado commented on #74
merged

[2021-09-10 19:55] laredotornado opened #141 "When running import script, we need to ignore entries without an address"
When running the script that turns CSV coop data into the YAML file that is digested by our application (that inserts entries into our database), we need to skip entries that don't contain an address.  An address must have at least a city, postal code, and state.  Without those minimum three things, we can't process the entity.  If you run

[code]

You will see several locality entries with 'name:

[2021-09-10 23:48] laredotornado opened #142 "Frontend: Need to change link on no-coordiantes page"
We have a page that displays coops without valid addresses (at least, those whose addresses cannot be resolved to latitudes and lonitudes).

<img width="998" alt="Screen Shot 2021-09-10 at 6 22 11 PM" src="https://user-images.githubusercontent.com/14842313/132927960-67413470-8160-4427-aa75-bb3608d8021f.png">

Locally that page is http://localhost:3001/nocoords (or http://localhost:3000/nocoords if

[2021-09-11 01:50] kevinjung2 commented on #142
hi

[2021-09-13 23:14] DaveyDevs commented on #132
Hey @laredotornado  and @nick-hou ! Just created a pull request with a solution that seems to be working. Basically, I created another useEffect to check for when any of the required fields are updated and then if they currently have an error state and, if yes, removes the error from state. Let me know what you think.

[2021-09-14 01:42] laredotornado commented on #132
Looks great!  Left one comment/question.

On Mon, Sep 13, 2021 at 6:14 PM Davey Devs ***@***.***> wrote:

[2021-09-16 22:30] #137 closed

[2021-09-16 22:38] nick-hou commented on #37
Hey @laredotornado, I'll take this one and #36 since they're pretty intertwined with #18, and I can just run the migration once.

[2021-09-16 22:58] kevinjung2 commented on #73
I can take this one

[2021-09-17 01:44] laredotornado commented on #37
Sounds good.  Adding "is_public" to address might be a little tricky since
the "address" functionality comes from a third party but if you see a path
forward there, I say have at it! -

On Thu, Sep 16, 2021 at 5:38 PM Nick Hou ***@***.***> wrote:

[2021-09-19 22:33] laredotornado opened #145 "Unable to select multiple values on Entity Types field in Add form"
On this page

https://prod.chicommons.coop/directory-additions-updates

The field "Entity Types" is a multiple selection box, but it is currently only possible to select one value.  It should be possible to select (and submit) multiple values.

[2021-09-19 22:34] laredotornado commented on #145
cc: @DaveyDevs

[2021-09-20 22:46] SteveEdiger opened #146 "On search | submit | select entity | edit, not all fields are pulled from spreadsheet record."
When searching and editing an entity not all fields are pulled from the spreadsheet.   Specifically eng-desc does not show. See ID 487, Logan Square Housing Coop, for an example.  I would bet that the other description paragraphs don't get pullled over either.

[2021-09-21 02:14] laredotornado opened #147 "Backend: Add "description" field to Coop model"
The Coop model (represented by the directory_coop table in PostGres), needs a field added to it -- description .  This should be of type "text".

[2021-09-21 02:15] laredotornado commented on #146
Hi @SteveEdiger , to make this a little easier for developers to digest, I've created this backend ticket -- https://github.com/chicommons/maps/issues/147 .  I'm going to close out this one unless you feel I've missed something.

[2021-09-21 22:20] DaveyDevs commented on #145
Hey @laredotornado!

Currently, the multi-select is set up to use the browser defaults. For example, holding down "control" on a desktop while clicking each item will let you select multiple whereas mobile (at least for iphone) adds check marks as you go through and select each one.

I believe there are some libraries that might help us find something that doesn't require the keyboard on desktop.

[2021-09-22 14:04] laredotornado commented on #145
Oops, didn't realize that.  Yup, I can select multiple now.  Closing this issue.  cc: @kevinjung2

[2021-09-22 14:04] #145 closed

[2021-09-23 21:53] SteveEdiger commented on #147
I did not check the other description fields, but they should also be added.  In fact, all content fields should be added.

[2021-09-23 21:53] SteveEdiger commented on #146
Yes you can close this, but please copy labels when doing something like this.

[2021-09-24 14:18] laredotornado commented on #142
@SteveEdiger , this was taken care of by @kevinjung2 a couple of weeks ago.  Can you confirm?  I will close after.

[2021-09-24 14:19] laredotornado commented on #132
I think I heard yesterday that this has been addressed.  Can re-open if I'm wrong @SteveEdiger

[2021-09-24 14:19] #132 closed

[2021-09-24 14:34] laredotornado opened #150 "Frontend: Need to add header row on search results page"
Do any search on this page, https://prod.chicommons.coop/search (I did a search picking a coop type),

<img width="840" alt="Screen Shot 2021-09-24 at 9 20 46 AM" src="https://user-images.githubusercontent.com/14842313/134692455-249668bb-3cc7-4e83-b6d0-005e64e57b2f.png">

and the results above need a search header reading "Matching Entities" and "Edit" above the two columns of results.

[2021-09-27 19:43] SteveEdiger commented on #142
I can't check it.  https://prod.chicommons.coop/nocoords results in a 404.

Steve Ediger

Founding Worker-Owner, ChiCommons LWCA

http://www.chicommons.coop

---- On Fri, 24 Sep 2021 09:18:51 -0500 Dave Alvarado ***@***.***> wrote ----

https://github.com/SteveEdiger , this was taken care of by https://github.com/kevinjung2 a couple of weeks ago.  Can you confirm?  I will close after.

—
You are r

[2021-09-27 19:45] SteveEdiger commented on #132
Complete and checked. It's working as  I hoped!

Steve Ediger

Founding Worker-Owner, ChiCommons LWCA

http://www.chicommons.coop

---- On Fri, 24 Sep 2021 09:19:52 -0500 Dave Alvarado ***@***.***> wrote ----

I think I heard yesterday that this has been addressed.  Can re-open if I'm wrong https://github.com/SteveEdiger

—
You are receiving this because you were mentioned.
Reply to this email dir

[2021-09-27 22:17] kevinjung2 commented on #142
I actually recently noticed that any navigation that is done through the address bar results in a 404 error. Ex: after navigating to prod.chicommons.coop, if you click on search the address bar changes to "prod.chicommons.coop/search" however if you refresh (or were to just enter "prod.chicommons.coop/search" in the address bar), that will result in a 404. However, on my local build the routing wo

[2021-09-30 21:14] kevinjung2 commented on #150
here is the way I have it on my local now. Is this what we're looking for?

![Screen Shot 2021-09-30 at 4 12 10 PM](https://user-images.githubusercontent.com/12449699/135531038-1df599f7-70a0-4734-8ed0-68048aa00486.png)

[2021-10-01 02:08] #131 closed

[2021-10-01 02:11] laredotornado opened #152 "Backend: Need a database table to track coop changes"
We are migrating to a model where coop entity owners can propose changes to entities that we have in our db.  An admin will approve these changes.  But we need a table to track these changes.  The fields needed will be

- Field name
- Old value
- New Value

This will involve creating a Django migration that will create the db table.

[2021-10-08 01:28] #73 closed

[2021-10-08 01:32] laredotornado opened #154 "Frontend: Add Cancel button to directory/search pages"
On the add page

https://prod.chicommons.coop/directory-additions-updates

as well as the "Search" page

https://prod.chicommons.coop/search

we wish to add a "cancel" button alongside the submit buttons.  Clicking "Cancel" should return the user to the previous screen.  Open to how you would want to implement this, history.back() would be a perfectly fine implementation if you would like to go th

[2021-10-08 01:48] laredotornado opened #155 "Backend: Script to insert data not including coop email address"
When we import data from the Google spreadsheet (https://docs.google.com/spreadsheets/d/1ifpqYM0uV1S3YVPrce5gmvevJ7jc-cFmOk5jDS8Me7U/edit#gid=0) into our database, a process that is done by running the following commands

If you are running docker, run
[code]

Without docker, run

[code]

the script that generates the "seed_data.yml" file (the second to last command above), fails to generate an en

[2021-10-12 00:27] DaveyDevs commented on #154
Hey @laredotornado! I have the functionality working but wanted to check in on the styles. Would we want to have the cancel button be an inverted color scheme, for example. Also, should we have the buttons on the search and add page look the same? Happy to make them consistent if desired.

[2021-10-12 01:15] laredotornado commented on #154
These are good questions.  @SteveEdiger , do you have a preference?

[2021-10-12 04:35] SteveEdiger commented on #152
Thanks, Dave.  I suggest adding date requested and date approved, which will give us the beginnings of an audit trail. Steve EdigerFounding Worker-Owner, ChiCommons LWCAwww.chicommons.coop ---- On Thu, 30 Sep 2021 21:11:21 -0500  ***@***.***  wrote ----
We are migrating to a model where coop entity owners can propose changes to entities that we have in our db.  An admin will approve these changes.

[2021-10-12 04:50] SteveEdiger commented on #154
The style guide and checking the chicommons.coop site for examples should guide you. I've attached the style guide.  Please keep it and refer to it when questions about formatting arise.Steve EdigerFounding Worker-Owner, ChiCommons LWCAwww.chicommons.coop ---- On Mon, 11 Oct 2021 20:16:10 -0500  ***@***.***  wrote ----
These are good questions.  @SteveEdiger , do you have a preference?

—You are r

[2021-10-15 01:45] laredotornado opened #157 "Frontend: Need a page that displays all form fields of a newly submitted coop for admin to approve"
Similar to when you an edit an existing entry after searching, visible by a page similar to

https://prod.chicommons.coop/directory-additions-updates/821

it will display all the same fields, except instead of the normal "Send Addition/Update" field,

<img width="760" alt="Screen Shot 2021-10-14 at 8 41 13 PM" src="https://user-images.githubusercontent.com/14842313/137419006-5cf8801c-a1c5-4dc6-aa7

[2021-10-16 16:26] laredotornado commented on #154
Some notes from @SteveEdiger

- Cancel should be have a narrow box around it and it should be adjacent to the action (to the right of the action) on the same line.
- Cancel action from Add is ok to go to home
- Cancel action from Search can go to home
- Cancel action from Search / Edit should go back to Search

[2021-11-11 22:41] #154 closed

[2021-11-11 22:48] laredotornado opened #162 "Frontend: Need page for admins to see list of unapproved entities"
This will be similar to the search page where you see a list of coops after you do a search.  However, the page should auto-load entities from this backend endpoint

[code]

The JSON of the entities will be identical to what is returned within the search page, https://prod.chicommons.coop/search .

[2021-11-11 23:21] #18 closed

[2021-12-09 23:14] SteveEdiger commented on #162
Davey has a first draft completed.  Waiting on dev.chicommons.coop

[2021-12-09 23:18] SteveEdiger commented on #157
First draft complete. Waiting on dev.chicommons.coop

[2021-12-09 23:21] SteveEdiger commented on #155
Assign this to Barry

[2021-12-09 23:24] SteveEdiger commented on #147
Dave  Alverado has not heard back from Jens on this  for a while.  He'll contact him this week (21-12-09)

[2021-12-09 23:26] #146 closed

[2021-12-09 23:27] SteveEdiger commented on #141
Dave Alverado will check with Jens on this (21-12-09)

[2021-12-16 22:46] laredotornado opened #163 "Frontend: Need a forgot password screen"
From the login screen, we need a "Forgot password" link beneath (or next to) the Login button, which should link to a screen where someone enters their email . Clicking "Submit" on the "Forgot password" page should invoke a POST API call (details to be filled in soon)

[2021-12-20 20:41] laredotornado opened #164 "Frontend: Create change password page"
We need a page that allows an admin to change their password.  This page would have three fields

Old Password
New Password
Confirm New Password

app would POST all fields to /change_password using a JSON request like

[code]

The "confirm_password" field shoudl be validated on the frontend but we don't incorporate it into the backend call.

[2022-01-01 17:40] laredotornado opened #165 "Frontend: Need a 404 page for routes that don't exist."
Currently in our app, if you enter a path to a route that doens't exist, e.g.

https://prod.chicommons.coop/bad-page

you just see a blank page with our nav bar.  For a better user experience, it would be better if we had a more traditional "Page not found" component, explaining that the path they are looking for does not exist.

As we are working on a new version of the app, base your PR/branch o

[2022-01-07 00:56] SteveEdiger opened #166 "Set up dev.chicommons.coop for a development site"

[2022-01-09 02:29] SteveEdiger opened #167 "Output to spreadsheet"
ent-include should default to yes
disp-adrs-zip should default to address
disp-output should default to Both

[2022-01-12 05:05] nick-hou commented on #37
Hey @laredotornado, been having some trouble running the DB migration on this one and might need your help. I think I've got the code all figured out on [my branch](https://github.com/nick-hou/maps/tree/info-is-public)

I created a new class "CoopAddressTags", and modified Coop.addresses to use the new class as a "through" class. This allows us to add any properties to a CoopAddressTags object to

[2022-01-12 05:18] nick-hou commented on #37
Also something to consider - if our only goal really is to label addresses as public, we can just add an array of isPublic booleans to the Coop model and check it on the front-end.

The through modifier makes it easier to add additional properties to each address, essentially functioning as tags. Not really sure what kind of info we could add to individual addresses that isn't covered by the other

[2022-01-13 15:24] laredotornado commented on #37
I think the through approach is the way to go here.  I'm not sure offhand
why this error occurs.  Let me do some initial research and then if I can't
find anything, maybe we can do a screen share to troubleshoot some other
paths around it (like the one you mentioned).

On Tue, Jan 11, 2022 at 11:19 PM Nick Hou ***@***.***> wrote:

[2022-01-13 18:00] SteveEdiger opened #168 "Review and Comment on DataCommons MVP"
Review and comment on Data Commons Coop MVP

[DCC Project MVP Reqs](https://docs.google.com/document/d/1YdDpjckfRhJJNVdOurhHEGicYXdvZvVX/edit#heading=h.jcn4s4lez8s)

[DCC Entity Data](https://docs.google.com/spreadsheets/d/1iRMODiw5OTUeS0Cclf1i1ZTVEwlHkrDDo1YSnGfhsuE/edit#gid=0)

[2022-01-14 18:55] SteveEdiger commented on #166
map.chicommons.coop DNS is mostly working.  I see it as being propagated around the world at 208.113.134.238 and can ping it.

However, when trying to ssh into it, I get nowhere.   I can ssh into the ip address.

[2022-01-16 17:44] laredotornado commented on #37
Hi @nick-hou , I checked out your fork but couldn't reproduce your issue.  DId you check in the db migration you created?  I get this when I try and create or run migrations ...

[code]

[2022-01-20 22:27] SteveEdiger commented on #166
Here's what we need to ask DreamHost (DreamCompute) support to do:

Re: Message #206545341

We prefer the alternative as expressed below: "Alternatively, since I suspect you cannot delete those other items, if that target item does not need to be deleted urgently, I can submit a request to our DreamCompute engineers asking them to flatten the dependency tree between the target volume snapshot..."

[2022-01-27 23:44] #36 closed

[2022-01-27 23:44] #37 closed

[2022-01-30 18:38] laredotornado opened #170 "Add "description" into fields sent to the backend after saving/updating directory form entries"
We have recently added support for a new field in the database, "description".  We need to add support for sending this value to the backend (with that name) in the service call

[code]

located in the file ./src/services/CoopService.jsx

[2022-01-30 18:47] laredotornado opened #171 "Need to supporess entities on map whose addresses are not "is_public""
Currently the map that appears on the home page

<img width="800" alt="Screen Shot 2022-01-30 at 12 44 08 PM" src="https://user-images.githubusercontent.com/14842313/151713075-c86938b4-5260-4ec1-9f18-fbdb97ae1a48.png">

is populated by the "data" endpoint in the web/directory/views.py file.  We need to adjust the query made in this call so that only addresses whose "is_public" field is set to true

[2022-02-01 02:41] DaveyDevs commented on #170
@laredotornado  I just updated the file and pushed to this branch for review - https://github.com/chicommons/maps/tree/add-description-170

Let me know if that works! If you would like me to test, just let me know which branch I should add it to. Thanks!

[2022-02-03 15:22] laredotornado commented on #170
Looks great!  Clean and simple.  At your convenience, create a PR that
merges into the authentication branch and we can get it all checked in.

Thanks, - Dave

On Mon, Jan 31, 2022 at 8:41 PM Davey Devs ***@***.***> wrote:

[2022-02-04 00:21] DaveyDevs commented on #170
@laredotornado Done!

[2022-02-04 00:45] SteveEdiger commented on #166
map.chicommons.coop populates, but some fields are hard-coded to prod.

We want to extract server name into a variable, that we can update in one place. Dave will create a ticket for this

[2022-02-04 00:57] kevinjung2 commented on #24
I currently have the page created on local and just need the backend endpoint to be created to test the frontend functionality. Mainly to make sure error handling is working.

[2022-02-04 01:07] kevinjung2 commented on #24
waiting on https://github.com/chicommons/maps/issues/25 @laredotornado

[2022-02-04 01:09] nick-hou commented on #171
Quick update, have updated views.py/data to check if address is public before adding it to the response body.

Next up is updating serializers.py to create CoopAddressTags object(s) whenever a new Coop is saved

[2022-02-05 19:14] laredotornado commented on #24
Hi @kevinjung2 , pushed backend supporting code to the authentication branch.  But note the endpoint URL is slightly different -- instead of POSTing to "/users/create", you will want to POST to just "/users/".  An example script with a curl request can be found in web/scripts/test_post_create_user.sh .  Let me know if you bump into any issues.

Thanks! -

[2022-02-05 19:16] laredotornado commented on #25
This is now in the authentication branch.

[2022-02-13 18:11] laredotornado opened #174 "Frontend: Need screen to review approved changes"
If an entity owner wants to propose an update to an entity, we will need a screen to review this change.  It will probably look similar to https://map.chicommons.coop/directory-additions-updates/489, but it would somehow need to show the proposed changes, so open to your suggestions here.  Similar to src/components/Edit.jsx, you woudl load the original coop,

[code]
and also would need to load the

[2022-02-17 04:25] DaveyDevs commented on #174
Hey @laredotornado !

I've started building this functionality into the approval form.  For now it's based off a fake object. I'm not sure how it will work with connecting to the backend yet, but let me know if this is a good start.

![image](https://user-images.githubusercontent.com/45680621/154403557-281ff3ea-5e74-44be-8390-aac62db87222.png)

[2022-02-25 00:52] SteveEdiger commented on #166
Everything is working, except that our Geocoding service is now tied in with Google Maps and we would require a Google Maps key to use it.

Dave will be looking for another solution that uses open street maps (or Bing or Apple Maps)

The work-around is for Steve to hand geocode each entry.

[2022-03-11 00:44] SteveEdiger commented on #24
Kevin and Dave will get together on Sunday.

[2022-03-13 23:24] laredotornado opened #177 "Frontend: Problem when trying to unselect an already-selected coop type in search form"
If you visit

https://map.chicommons.coop/search

and select any entry in the "Coop Types" multi-select drop down,

<img width="943" alt="Screen Shot 2022-03-13 at 6 18 46 PM" src="https://user-images.githubusercontent.com/14842313/158083655-23161040-dbd2-48cf-a6d0-36b464dbea44.png">

you will notice you are unable to unselect the item.  Normally this would be done by simultaneously holding down t

[2022-03-17 23:35] laredotornado opened #178 "Backend: New new geocoding library"
We are using the following GeoCoding library

geopy==1.21.0

for resolving addresses to latitude and lonitudes.  However, this library now has a dependence on Google, which we would prefer not to use.  We need to use a new library, which would fit in to the file directory/services/location_service.py in the "get_coords" method.

The only requirement is that this library be Python based and free to

[2022-03-31 22:38] kevinjung2 commented on #24
I pushed the code that adds the new user screen to the authentication branch. It is not fully finished but at this point I think it will be best to create a new ticket to handle the rest which is just error handling.

[2022-04-05 17:04] laredotornado opened #181 "Frontend: Add error handling display for login screen"
We need to display errors when someone submits the login form incorrectly.  The error display should use the same design pattern as when someone submits an incorrect "Add Coop To Directory" entry (https://map.chicommons.coop/directory-additions-updates).  An example of how an error woudl come back from a login form would be

[code]

or if the username/password was invalid or the account is inactiv

[2022-04-05 19:30] laredotornado opened #182 "Frontend: Proper error display when adding a new user"
When we add a new user,  we need to have errors display when the form has not been filled out correctly.  The style of the errors shoudl mirror the pattern we used when submitting a new coop (https://map.chicommons.coop/directory-additions-updates).  An example of the JSON returned when a new user form is submitted incorrectly would be

[code]

[2022-04-05 19:57] laredotornado commented on #24
Hi Kevin! I created a couple of other tickets to address error handling

https://github.com/chicommons/maps/issues/181
https://github.com/chicommons/maps/issues/182

Let me know if you think they need more detail. - Dave

On Thu, Mar 31, 2022 at 5:39 PM Kevin Jung ***@***.***> wrote:

[2022-04-10 00:06] laredotornado opened #183 "Frontend: Email address not being populated properly"
Be sure you are on the authentication branch
[code]

then observe that after you add a coop (http://localhost:3001/directory-additions-updates for Docker, http://localhost:3000/directory-additions-updates without Docker) with a valid email, when you search for that coop here -- http://localhost:3000/search
<img width="971" alt="Screen Shot 2022-04-09 at 7 03 11 PM" src="https://user-images.githubu

[2022-04-10 00:19] laredotornado opened #184 "Frontend: Updating an existing coop does not succeed if you leave "Entity Types" field unchanged"
Be sure you are on the authentication branch

[code]

then observe that after you add a coop (http://localhost:3001/directory-additions-updates for Docker, http://localhost:3000/directory-additions-updates without Docker) with a valid email, when you search for that coop here -- http://localhost:3000/search

<img width="971" alt="Screen Shot 2022-04-09 at 7 03 11 PM" src="https://user-images.githu

[2022-04-10 00:30] laredotornado opened #185 "Backend: Add "scope" field into Coop model"
Visit the page for adding a new coop (http://localhost:3000/directory-additions-updates without Docker and http://localhost:3001/directory-additions-updates with Docker), when we submit a form

<img width="720" alt="Screen Shot 2022-04-09 at 7 27 40 PM" src="https://user-images.githubusercontent.com/14842313/162596096-48ed56ba-e63c-4f91-8a67-518237c8eb56.png">

there is a field "Scope of Service",

[2022-04-10 00:48] laredotornado opened #186 "Frontend: Updating entity creates new entity"
Be sure you are on the authentication branch

[code]

then observe that after you add a coop (http://localhost:3001/directory-additions-updates for Docker, http://localhost:3000/directory-additions-updates without Docker) with a valid email, when you search for that coop here -- http://localhost:3000/search

<img width="389" alt="Screen Shot 2022-04-09 at 7 05 24 PM" src="https://user-images.githu

[2022-04-10 18:15] #155 closed

[2022-04-10 19:26] #186 closed

[2022-04-13 20:20] domdelorenzo commented on #184
Hey @laredotornado - I think my PR [#187 ](https://github.com/chicommons/maps/pull/187) addresses this, but I noticed that every time I submit an update, it creates a new entity instead of updating the existing entity. Is that intended behavior?

[2022-04-13 20:25] domdelorenzo commented on #183
Hi @laredotornado . I'll take this. I think my [PR 187](https://github.com/chicommons/maps/pull/187) addresses it.

[2022-04-13 22:30] laredotornado commented on #184
I noticed that over the weekend as well.  If you update your code with the latest from the authentication branch (on the main repo), you shoudl see a fix for this.

[2022-04-13 22:36] laredotornado commented on #183
Thanks @domdelorenzo !  I merged your PR.  Appreciate the quick work.

[2022-04-13 22:36] #183 closed

[2022-04-13 22:46] DaveyDevs commented on #174
@laredotornado Hey Dave! I have a first draft up for review as a pull request to the authentication branch. Let me know what you think -

![image](https://user-images.githubusercontent.com/45680621/163282142-f0cc196b-cc60-4d17-9d18-f8db9937b16e.png)

[2022-04-14 02:04] laredotornado commented on #184
Thanks to @domdelorenzo for taking care of this one.

[2022-04-14 02:04] #184 closed

[2022-04-14 16:42] laredotornado commented on #174
Looks solid @DaveyDevs ! I left one minor comment but after that I think we're good ot go.

[2022-04-14 17:19] laredotornado opened #189 "Errors for required fields not displaying properly on directory add/update form"
To reproduce this issue, navigate to the authentication branch,

[code]

If you navigate to the add directory form (http://localhost:3000/directory-additions-updates without Docker and http://localhost:3001/directory-additions-updates with Docker) and click on the submit button without entering any data, you'll notice only the "Description" field displays an indication that the user needs to enter

[2022-04-14 23:38] stepsbystep commented on #171
I'm taking this ticket!

[2022-04-15 00:02] stepsbystep commented on #171
One question: I thought there was another field with a similar problem. Is that not the case?

[2022-04-15 03:41] domdelorenzo commented on #189
@laredotornado I'll take a look. Go ahead and assign this to me.

[2022-04-15 18:07] SteveEdiger opened #190 "Spreadsheet View for Curation Review"
### General
This view would look like our google spreadsheet, with related tables flattened out into a single row. (see below for more on this). The view is described
1. Column Labels (field labels) at the top.  Which columns appear is yet to be determined.
2. Rows would contain flattened records from related tables
3. Scroll bars would offer vertical and horizontal navigation of the records

###

[2022-04-20 02:32] DaveyDevs commented on #174
@laredotornado  The CSS has been updated based on your comment and is available for review on the PR!

[2022-04-20 14:58] laredotornado commented on #171
We do have "is_public" for our contact methods (email and phone), but for
this particular ticket the display of the entity should only be governed by
the "is_public" method in the CoopAddressTags object (that is the object
that associates the address object and the "is_public" boolean field).

On Thu, Apr 14, 2022 at 7:02 PM Barry Feldman ***@***.***>
wrote:

[2022-04-20 17:14] laredotornado commented on #174
Approved and merged!

[2022-04-21 14:37] stepsbystep commented on #155
When I try the exec line by line I get a different error:

Traceback (most recent call last):
  File "/my-app/manage.py", line 21, in <module>
    main()
  File "/my-app/manage.py", line 17, in main
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python3.9/site-packages/django/core/management/__init__.py", line 401, in execute_from_command_line
    utility.execute()
  File "/usr/loc

[2022-04-28 16:08] stepsbystep commented on #155
This looks to have been very helpful @laredotornado, but I now get a surprising error, credentials.json in an unexpected directory not found:

PS C:\Users\howno\maps> docker-compose exec web sh
# python manage.py init_from_google_sheet > /tmp/output.csv
Traceback (most recent call last):
  File "/my-app/manage.py", line 21, in <module>
    main()
  File "/my-app/manage.py", line 17, in main
    ex

[2022-05-06 00:01] domdelorenzo commented on #190
Update:

* Currently testing grid libraries
* Pulling data from /coops/ endpoint and rendering with the grid libraries below
* [ReactGrid](https://reactgrid.com/[)
  * Has multi-user support
  * Doesn't appear to support [filtering](https://reactgrid.com/blog/what-is-reactgrid-and-why-is-it-unique/)
* [AG-Grid](https://www.ag-grid.com/])
  * Has multiple [filtering options ](https://www.ag-grid.co

[2022-05-09 22:47] stepsbystep commented on #155
Last problem resolved: credentials.json was not included in the build.
Now parse_coop_csv.py ran, but triggered an error in reading the spreadsheet.

The relevant lines of the error report include:
 File "/my-app/directory/management/commands/parse_coop_csv.py", line 149, in get_address_pks
    id = row['ID'].strip().encode("utf-8", 'ignore').decode("utf-8")
KeyError: 'ID'

As a result, I checked

[2022-05-10 21:14] laredotornado commented on #190
@domdelorenzo , I made a minor update to the authentication branch to add the "approved" field into the serializer that serves data to the GET "/coops/?..." endpoint.  (e.g. if running locally without docker, this will return the field --

[code]

)

[2022-05-10 21:24] domdelorenzo commented on #190
@laredotornado Thanks. I'll see if I can merge that with my branch!

[2022-05-12 02:53] DaveyDevs commented on #177
I just updated the input for the Search form to match the requested behavior and opened a pull request to the authentication branch. It matches the multi-select dropdown from the directory form, let me know if that works!

[2022-05-12 19:02] laredotornado commented on #155
@SteveEdiger , did we remove the "ID" column for some reason?  Can we add it back?

[2022-05-13 00:56] stepsbystep commented on #155
parse_coop_csv updates are working. This ticket can be closed.

[2022-05-18 18:04] domdelorenzo commented on #190
Updates for the spreadsheet view testing:
* Updated Views and Serializers to include 'approved', 'phone', 'email', 'web_site'
* Updated the modal popup window width
![Screenshot 2022-05-18 at 12-44-58 CoOp Map](https://user-images.githubusercontent.com/49847428/169109780-be4ef5ac-0b92-443b-bf34-17b6374a8b36.png)

* Found an MIT Licensed React Component, [KA Table](http://ka-table.com/) that has So

[2022-05-19 14:51] laredotornado commented on #190
Excellent screen shots.  Yeah my vote is the better user experience in the free/community edition of AG Grid, however as @SteveEdiger is probably going to be the only user, I guess it's his ultimate decision.  Steve, I woudl recommend we go with either one of these two.  I don't think looking for antoher library would help us, especially because other libraries may not be supported long term, whic

[2022-05-26 23:53] SteveEdiger commented on #171
Steve will look up a database of counties/zip code

[2022-06-02 23:58] #167 closed

[2022-06-03 21:02] laredotornado opened #194 "Frontend: Need logout button"
If you login to our app, you'll notice there is no ability to logout afterwards.  Right now, this is what you see when you first login ...
![Screen Shot 2022-06-03 at 3 57 02 PM](https://user-images.githubusercontent.com/14842313/171951839-102f5825-5231-4cb7-b769-722965415f0f.png)

Instead of the "Login" link, we need a "Logout" button.  That will need to send POST request to

[code]

with a heade

[2022-06-05 17:23] laredotornado opened #195 "Create Zoho email for automated sending of emails"
In the event an admin rejects/approves changes to a submitted coop, we need to notify the coop owner of request status.  Since we have an unused Zoho account, the decision was to create an email address

[code]

from which these emails could be sent.

[2022-06-07 03:01] kevinjung2 commented on #194
in the newUser component we seem to be sending the same authorization header without issue, however I am trying to implement it into a new logout component and am recieving a cors issue. I looked at the my-vhosts.conf file where cors is set and it seems like authorization is not set as a header that is allowed, but if thats true I am not sure how we are making successful calls in the newUser compo

[2022-06-07 22:02] stepsbystep commented on #178
Sign me up @laredotornado!

[2022-06-08 14:03] laredotornado commented on #194
Ah good call on the logout CORS issue.  That is indeed something i haven't
configured yet on the backend.  Will take care of that and get right back
with you. - Dave

On Mon, Jun 6, 2022 at 10:01 PM Kevin Jung ***@***.***> wrote:

[2022-06-08 22:37] laredotornado commented on #194
I just checked some logic into the authentication branch that shoudl allow
/logout to work.  Let me know if it works for you (remember to include the
"Authentication Token xxxx" in the logout request as a header!)

Thanks, - Dave

On Wed, Jun 8, 2022 at 9:03 AM D. Alvarado ***@***.***> wrote:

[2022-06-09 00:37] laredotornado commented on #178
Thanks @stepsbystep !  assigned

[2022-06-13 01:46] laredotornado opened #196 "Frontend: Need to add latitude/longitude to add/update form"
If you visit

https://dev.chicommons.coop/directory-additions-updates

beneath the section where you add an address and above the section where you edit a web site

<img width="788" alt="Screen Shot 2022-06-12 at 8 41 03 PM" src="https://user-images.githubusercontent.com/14842313/173265069-2356b9c9-c356-4113-9ed3-80afac368c65.png">

We need to add fields to support the latitude and longitude coord

[2022-06-13 01:52] laredotornado opened #197 "Backend: Need to add support for latitude and longitude into backend calls"
When we submit a new (or edit an existing) coop, using this form

http://localhost:3001/directory-additions-updates

We need to add backend support for capturing the latitude and longitude (fields that will be added to this form, see [here](https://github.com/chicommons/maps/issues/196).  This will primarily involve updating the serializers (specifically the CoopSerializer) here

[code]

to add su

[2022-06-13 01:56] laredotornado opened #198 "Logging in does not display proper page initially"
If you visit

http://localhost:3001/

and login with the default user (chicommons/password), you will notice that you are redirected to the proper page
<img width="1009" alt="Screen Shot 2022-06-12 at 8 54 26 PM" src="https://user-images.githubusercontent.com/14842313/173265910-0178a47c-043b-4891-8455-735f0a818dd7.png">

however, the nav bar does not display the proper title.  If you click "refres

[2022-06-13 21:16] laredotornado opened #199 "Frontend: Need to add reject reason modal when rejecting a propsed coop change"
From the authentication branch

[code]

, fire up the app and create a coop entry to be added to the directory ().  Then, login, http://localhost:3001/login, as an admin (chicommons/password) ,and review that was submitted by going to

http://localhost:3001/unapproved-list/

and clicking the pencil icon next to your entity.  you will see a screen with the below buttons

![Screen Shot 2022-06-13 at

[2022-06-17 00:25] SteveEdiger commented on #195
We'll use TheTeam@chicommons.coop, but Steve and Dave need to coordinate the full use case first.

[2022-06-18 19:04] laredotornado opened #201 "Frontend: Need to secure /spreadsheet endpoint"
Currently admins can mass edit coop entities here

http://localhost:3001/spreadsheet

However, this endpoint is also accessible publicly . We need to secure it in a similar way to how the route

http://localhost:3001/signup

is only accessible via login.  This shoudl be as simple as securing the route by using the "<PrivateRoute>" component.

[2022-06-18 19:23] laredotornado opened #202 "Frontend: Add /spreadsheet to nav"
Currently when an admin is logged in they see
<img width="880" alt="Screen Shot 2022-06-18 at 2 21 15 PM" src="https://user-images.githubusercontent.com/14842313/174454319-cba8bd94-2bf5-4cba-ab45-0520694c3996.png">

We also need to add a nav item for the "/spreadsheet" endpoint, where an admin can mass edit coop entries.  This can go next to the "New User" endpoint.  We can name it "Update Coops"

[2022-06-24 04:34] DaveyDevs commented on #199
@laredotornado Hey Dave! I just created a pull request with a first draft for this functionality. I didn't have time to create a modal yet, so I have the fields updating in place of the "Reject" button for the initial draft. Let me know what you think, happy to develop a modal as well if preferred.

[2022-07-03 17:19] DaveyDevs commented on #199
Hey @laredotornado !  Thanks for the update. I'm running into an error when running docker compose after pulling the latest from the authentication branch. Would you mind checking out the attachment and letting me know if this might be an issue on my end? Thanks!

[7-3-22 error.txt](https://github.com/chicommons/maps/files/9035207/7-3-22.error.txt)

[2022-07-05 00:56] laredotornado commented on #199
Oops, my bad!  Can you download the latest from the authentication branch
and tear down the containers/rebuild?  This latest iteration should work.

Detailed stack trace you sent helped me pinpoint where things were falling
apart.  Thanks, - Dave

On Sun, Jul 3, 2022 at 12:19 PM Davey Devs ***@***.***> wrote:

[2022-07-06 13:19] laredotornado opened #205 "Frontend: Need cursor focus on login screen's username field"
On the page

https://dev.chicommons.coop/login

We would like to add a feature where, once the component loads, the cursor focus automatically appears on the "Username" field, without someone having to navigate the mouse to the field and click on it.
<img width="724" alt="Screen Shot 2022-07-06 at 8 16 34 AM" src="https://user-images.githubusercontent.com/14842313/177559526-c01b725f-398d-4319-98bf

[2022-07-07 21:05] laredotornado opened #206 "Frontend: Link to spreadsheet from search results when logged in"
If you visit the search page (https://dev.chicommons.coop/search) and then execute a search where any amount of results comes back
<img width="660" alt="Screen Shot 2022-07-07 at 3 59 56 PM" src="https://user-images.githubusercontent.com/14842313/177870774-c57517b0-71c7-49a0-ad7a-aa3698af7530.png">

there needs to be a link above the search results table, labeled "Edit in Spreadsheet" that is only

[2022-07-11 20:18] stepsbystep commented on #178
New geocoding library is tested and in use with the current parse_coop_csv @laredotornado!

We are now using the OpenStreet Maps nominatim library
Check the following for more information
https://www.natasshaselvaraj.com/a-step-by-step-guide-on-geocoding-in-python/
https://nominatim.org/release-docs/latest/api/Overview/

There are two pushes. The first has the new code but is not properly describe

[2022-07-13 05:40] domdelorenzo commented on #206
Hey @laredotornado - just submitted PR [https://github.com/chicommons/maps/pull/207]( https://github.com/chicommons/maps/pull/207) for this issue.

There's already a hook built to check sessionStorage for authentication, so I just used that:

[code]

Is that what you had in mind?

[2022-07-13 06:06] domdelorenzo commented on #201
Hi @laredotornado - check out PR [https://github.com/chicommons/maps/pull/208](https://github.com/chicommons/maps/pull/208)

[2022-07-13 06:07] domdelorenzo commented on #202
Hi @laredotornado - check out PR [https://github.com/chicommons/maps/pull/208](https://github.com/chicommons/maps/pull/208)

[2022-07-13 17:11] laredotornado commented on #206
Yup absolutely!  Tha's the hook I was referring to.

On Wed, Jul 13, 2022 at 12:40 AM Dom DeLorenzo ***@***.***>
wrote:

[2022-07-28 23:54] SteveEdiger commented on #190
Please add all fields to the spreadsheet view.  I reviewed the fields and really may need to filter, sort, and access any of them from time to time.

I would also like the view to scroll horizontally.

[2022-08-23 01:29] stepsbystep commented on #178
I've created the getGeoLoc object class. It functions correctly in parse_coop_csv.

[2022-08-25 04:20] stepsbystep commented on #178
LocationServices updated but not working yet

[2022-08-28 15:34] #166 closed

[2022-08-28 15:57] laredotornado opened #209 "Backend: Adjust data import script to accommodate new address model"
You will want to be on our authentication branch for this

[code]

When we run the script to generate our seed data from the Google spreadsheet

[code]

We need to change the way the coop entity is output in the file "seed_data.yaml" from this

[code]

to this (note that we have two models now, the coop, and an addresstags entity that ties the coop back to an address) ...

[code]

This will allow

[2022-09-15 19:54] stepsbystep commented on #209
I've got it! I'll have to check a few things out with you, this is looking educational regarding understanding the database model.

[2022-09-15 20:18] stepsbystep commented on #209
Which field from the spreadsheet is linked to "is_public"?

[2022-09-15 23:48] domdelorenzo commented on #196
@laredotornado - could you go ahead and assign this to me?

[2022-09-16 16:55] stepsbystep commented on #209
I've done a preliminary recode. Find sample output below. There is an "approved" line at the end of the sample existing outputs, before and after changes, above. I don't find the code for this line in the script and I don't find this line in an older version of seed_data.yaml. Should I create it? If so, which field is it based on?

- model: directory.coop
  pk: 72
  fields:
    name: "Avalon Park

[2022-09-23 02:58] domdelorenzo commented on #190
Hey @SteveEdiger -
* Just submitted https://github.com/chicommons/maps/pull/210
* Adds additional fields to the spreadsheet
* The grid already scrolls horizontally when the column widths and number of columns exceed the width of the grid window. I've set the column widths to ensure that's obvious.

[2022-09-29 02:03] stepsbystep commented on #209
Recoding is completed. Directory.addresstag is added and an new method for generating indexing keys is added that should reduce the likelihood of problems.

[2022-09-29 22:22] SteveEdiger commented on #190
I've reviewed the spreadsheet view.  It's behaving like I want it to.  However, we need to sync fields.  I've added comments to the Header tab in our Google Spreadsheet (https://docs.google.com/spreadsheets/d/1ifpqYM0uV1S3YVPrce5gmvevJ7jc-cFmOk5jDS8Me7U/edit#gid=319391910)

Let's discuss.

[2022-10-06 02:08] SteveEdiger opened #213 "Add Land Acknowledgement Language"
We want to add the following statement about Land Ackowledgement:

- ChiCommons would like to acknowledge that we are on the traditional lands of the first people of present-day Illinois and Indiana: the Potawatomi, Peoria, Kaskaskia, Miami, Mascoutin, Mesquaki, Odawa, Piankashaw, Wea, Sauk, Kickapoo, Ojibwe, Delaware, Shawnee, and Chickasaw Nations. We share gratitude for the land itself and for

[2022-10-07 15:27] laredotornado opened #214 "Backend: Expand coop model to use multiple contacts instead of two dedicated fields"
In our Coop model (web/directory/models.py), we have dedicated fields for email and phone

[code]

Rather than having dedicated fields, we need to have the ability for a Coop to have multiple contact fields, similar to how the data model has multiple addresses.  This will entail several changes

1. We need to update the model
2. We need to generate the appropriate database migrations to generate t

[2022-10-11 09:02] SteveEdiger commented on #178
Wow, Barry!

Great work, and keeping it in the FOSS environment, too!!!

Steve Ediger

Founding Worker-Owner, ChiCommons LWCA

http://www.chicommons.coop

---- On Mon, 11 Jul 2022 15:19:09 -0500 Barry Feldman ***@***.***> wrote ---

New geocoding library is tested and in use with the current parse_coop_csv https://github.com/laredotornado!

We are now using the OpenStreet Maps nominatim library
 C

[2022-10-14 12:43] laredotornado opened #215 "Use the same ID for coops sharing same information in Google spreadsheet"
For rows in the Google spreadsheet that track coops in which each row refers to the same coop, change the ID to match.  Thus each row in the spreadsheet representing the same coop will have the same ID.

[2022-10-14 20:47] laredotornado commented on #209
This was deployed to dev on 10/14.  Great work!

[2022-10-15 00:21] SteveEdiger opened #217 "Onboarding: Windows"
After installing docker and updating git to the latest version, I successfully cloned maps.git.

When I ran docker-compose up it failed with at 109 (Windows named pipe error: The pipe has ended.

Here is the output just before it started failing:

Image for service apache was built because it did not already exist. To rebuild this image you must use `docker-compose build` or `docker-compose up --b

[2022-10-15 00:32] SteveEdiger opened #218 "Onboarding: Mac"
I installed Docker Desktop via Homebrew and then from the docker website.  I then ran it to complete the installation and rebooted my system.   docker-compose and docker compose returns "docker: 'compose' is not a docker command."

docker help then returns
"Invalid Plugins:
  compose     failed to fetch metadata: fork/exec /Users/sediger/.docker/cli-plugins/docker-compose: exec format error"

Dock

[2022-10-19 18:39] laredotornado opened #219 "Backend: Migrate data from Google spreadsheet"
In order to proceed with this ticket, this itcket, https://github.com/chicommons/maps/issues/215, will need to be addressed first.

In our Google spreadsheet, https://docs.google.com/spreadsheets/d/1ifpqYM0uV1S3YVPrce5gmvevJ7jc-cFmOk5jDS8Me7U/edit#gid=0, when generating the seed data script, we need to consolidate rows with the same ID into a single entry.  This means that if there are multiple en

[2022-10-19 19:51] stepsbystep commented on #219
I'm on it!